header{
    position: relative;
    background-color: white;
    border: 1px solid #e72929;
    padding: 0px;
}

a{
    color: #af1313;
}

a:hover{
    background: #e72929;
    color: white;
}

.container{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

a.logo{
    font-weight: bold;
    padding: 1rem;
}

ul{
    display: flex;
    list-style-type:none;
    margin: 0;
}

ul a{
    padding: 1rem;
    display: inline-block;
}

a span{
    background: #ff4d4d;
    color: white;
    padding: 0.1rem 0.3rem;
    border-radius: 100rem;
    font-size: 0.7rem;
}

.menu-container{
    position: relative;
    z-index: 10000;
}

.menu{
    position:absolute;
    z-index: 1;
    background: whitesmoke;
    display: none;
}

.menu-container:hover .menu{
    display: block;
}

.menu a{
    width: 100%;
    min-width: 8rem;
}