<div class="container">
    <div class="details">
        <app-title title="Login"></app-title>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="input-container">
                <label>Email</label>
                <div>
                    <input type="email" placeholder="Email" formControlName="email">
                </div>
                <div class="error-list" *ngIf="g.email.errors && isSubmitted">
                    <div *ngIf="g.email.errors.required">Should Not be Empty</div>
                    <div *ngIf="g.email.errors.email">Email is not in proper format</div>
                </div>
            </div>
            <div class="input-container">
                <label>Password</label>
                <div>
                    <input type="password" placeholder="Password" formControlName="password">
                </div>
                <div class="error-list" *ngIf="g.password.errors && isSubmitted">
                    <div *ngIf="g.password.errors.required">Should Not be Empty</div>
                </div>
            </div>
            <div class="button">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</div>