div{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

div a{
    margin: 1rem;
    background-color: #e73929;
    padding: 0.5rem;
    border-radius: 1rem;
    opacity: 0.8;
    color: white;
    font-weight: bold;
}